<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccj.campus.chat.mapper.ExamStudentRelMapper">

    <insert id="batchInsert">
        INSERT INTO exam_student_rel (exam_id, student_id, seat_no) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{examId}, #{item.studentId}, #{item.seatNo})
        </foreach>
        ON CONFLICT (exam_id, student_id) DO NOTHING
    </insert>

</mapper>